@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Fira+Code:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400&display=swap");

/* src/App.css or your main CSS file */
@import '~bootstrap/dist/css/bootstrap.min.css';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

  /* Set background color to black */
  /* background-color: #000000; */

  background: url('./Assets/mash.jpg') no-repeat center center fixed;
  background-size: cover;
  /* opacity: 0.7; */
  /* Adjust opacity as needed */
  min-height: 100vh;

  .environment {}

  /* Set text color to white */
}



.page-section {
  margin-bottom: 20px;
  margin-top: 40px;

  /* Adjust the margin as needed */
}


.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.main-nav {
  display: none;
  /* Hide the main navigation links on larger screens */
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
    /* Hide the side navigation bar on smaller screens */
  }

  .main-nav {
    display: flex;
    gap: 20px;
  }
}



.app {
  display: flex;
  flex-direction: column;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.sidenav a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.content {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

/* //////////////////////////////////////  NEVBAR ////////////////////////////////////////// */

.floating-icons {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.floating-icons div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #111111;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-icons div:hover {
  background-color: #333333;
}

.floating-icons div:hover {
  background-color: #333333;
}

.floating-icons-right {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.floating-icons-right div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #111111;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-icons-right div:hover {
  background-color: #333333;
}


/* //////////////////////////////////////  NEVBAR ////////////////////////////////////////// */


.sulogo {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.glogo {
  position: absolute;
  margin: auto;
  align-items: center;
}


.home {
  text-align: center;
  height: 900px;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  align-items: center;
}

.main {
  margin: auto;
  margin-top: 70px;
  position: relative;
  text-align: center;
  height: 600px;
  width: 60%;
  align-items: center;
  /* background-color: rgb(5, 5, 5); */
}


/* /////////////////////////////////////////////////// animation glitch ///////////////////////////////////////////////// */




h1,
h2 {
  margin-bottom: 0%;
  margin: 0;
  font-size: 2em;
  /* Adjust accordingly */
}

h3 {
  letter-spacing: 0.2em;
  color: #ffffff;
  /* Adjust accordingly */
  font-size: 1.5em;
  /* Adjust accordingly */
}

.hero {
  font-family: 'Archivo', sans-serif;
  font-size: clamp(120px, 10vw, 160px);
  line-height: 1;
  display: inline-block;
  color: #ffffff;
  z-index: 2;
  letter-spacing: 20px;
  padding-bottom: 20px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%);
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%);
  }

  5% {
    clip-path: polygon(0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%);
  }

  30% {
    clip-path: polygon(0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%);
  }

  45% {
    clip-path: polygon(0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%);
  }

  76% {
    clip-path: polygon(0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%);
  }

  90% {
    clip-path: polygon(0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%);
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: url(https://unsplash.com/photos/a-close-up-of-a-persons-face-with-a-blurry-background-s4qtCUodkQ4) center no-repeat;
  background-size: cover;
}






/* /////////////////////////////////////////////////// animation glitch ///////////////////////////////////////////////// */




/* /////////////////////////////////////////////////// COUNTDOWN ///////////////////////////////////////////////////// */

.timer {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.timer div {
  text-align: center;
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
}

.timer div h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.timer-box {
  background-color: #000000;
  /* Set your desired background color here */
  padding: 3rem;
  /* Adjust padding as needed */
  border-radius: 8px;
  /* Optional: Add border-radius for rounded corners */
}


/* /////////////////////////////////////////////////// ABOUTUS ///////////////////////////////////////////////////// */


:root {
  --color-white: #fafafa;
  --color-off-white: #dfdfdf;
  --color-gray: #808080;
  --color-black: #000;
  --font-copy: "Montserrat", sans-serif;
  --font-title: "Anton", sans-serif;
}




.container {

  padding: 0 5% 5% 5%;
}

.page-title {

  /* margin-bottom: 2rem; */
  font-family: var(--font-title);
  font-size: 16rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 16rem;
  color: var(--color-white);
}

.page-title {
  margin-bottom: 5rem;
  font-size: 5rem;
  text-align: center;
}


/* 
.content {
display: flex;
justify-content: space-between;
align-items: flex-start;
height: 100%;
} */

.content__descriptor {
  width: 14%;
  /* border-top: 1px solid var(--color-gray); */
  padding-top: 4rem;
}

.content__descriptor {
  width: 100%;
  padding: 2rem 0;
  border-top: none;
}

.content__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.content__text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2rem;
  width: 50%;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  margin-right: 10rem;
  padding: 4rem 0;
}

.content__text-box {
  margin-right: 0;
}

.content__text-box {
  width: 100%;
  padding: 2rem 0;
}

.content__text-box {
  border-bottom: none;
}

.content__text {
  width: 320px;
}

.content__text {
  width: 100%;
}


/* ///////////////////////////////////////// contectus ////////////////////////////////////// */


.right_conatct_social_icon {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.contact_us {
  background-color: #000000;
  padding: 0%;
  background-size: cover;


}

.contact_inner {

  position: relative;
  box-shadow: 20px 22px 44px #013cfecc;
  border-radius: 25px;
}

.contact_field {
  padding: 60px 340px 90px 100px;
}

.right_conatct_social_icon {
  height: 100%;
}

.contact_field h3 {
  color: #f7f7f7;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px
}

.contact_field p {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #000000;
}

.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  position: absolute;
  background-color: #000000;
  right: 1px;
  top: 18%;
  height: 340px;
  width: 340px;
  padding: 40px;
  border-radius: 25px 0 0 25px;
}

.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
}

.info_single i {
  margin-right: 15px;
}

.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
}

.form-control form-group {
  color: #000000;

}

button.contact_form_submit {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}

.socil_item_inner li {
  list-style: none;
}

.socil_item_inner li a {
  color: #000000;
  margin: 0px 15px;
  font-size: 14px;
}

.socil_item_inner {
  padding-bottom: 10px;
}

.map_sec {
  padding: 20px;
}

.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center
}

.map_inner p {
  font-size: 13px;
}

.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}


/* /////////////////////////////////////////// EVENTS ////////////////////////////////////////////////// */



.event-page-container {
  /* background: url('./Assets/background_poster.jpg') no-repeat center center fixed; */
  background-size: cover;
  /* opacity: 0.7; */

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.event-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-card {
  width: 300px;
  height: 400px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(255, 255, 255);

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-body {
    text-align: center;
  }

  .btn-primary {
    margin-top: 170px;
  }
}



/* /////////////////////////////////////////// EVENTS ////////////////////////////////////////////////// */



/* ///////////////////////////////////////////// TIMELINE ////////////////////////////////////////////////// */




/* ///////////////////////////////////////////// TIMELINE ////////////////////////////////////////////////// */